<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<nav class = "indigo darken-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">NASA Picture Commenting</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'datepicker' %}"> Pick a Date </a></li>
        <li><a href="{% url 'nasa_comment_list' %}"> Nasa Comments </a></li>
      </ul>
    </div>
  </nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {format: 'yyyy-mm-dd'});
  });

</script>